*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', ;

}
h1{
	text-transform: capitalize;
	font-weight: bold;
}

/* top bar*/
.top_bar{
	width: 100%;
	height: 40px;
	
	border-bottom: 2px solid #F3F3F0;
}
.top_bar .top_left{
	float: left;
	margin-top: 5px;
}
.top_left span i:before{
	margin-left: 0;
}
.top_bar .top_right{
	float: right;
	margin-top: 10px;
}
.top_bar .top_right ul{
	list-style-type: none;

}
.top_bar .top_right ul li{
	float: left;
	margin-right: 10px;
}
.top_bar .top_right ul li a{
	text-decoration: none;
	color: #0992E5;
}
/*top bar end*/

/*header start*/
header{
	width: 100%;
	background: #FFFFFC;
	overflow: hidden;
	padding: 10px 0px;
	border-bottom: 2px solid #F3F3F0;
}
header .logo{
	width: 100%;
}
header .logo img{
	width: 100%;
	margin-top: 5px;
}
.header_right{
	width: 100%;
	float: right;
	
}
.header_right ul{
	float: right;
	margin-top: 5px;
}
.header_right ul li{
	float: left;
	list-style-type: none;
	margin-right: 20px;
	padding: 0px 20px;
	padding-right: 40px;
	border-right: 2px solid #F3F3F0;
}
.header_right ul li:last-child{
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}
.header_right h4{
	color: #0092E8;
	font-weight: 600;
}
.h_flaticon i:before{
	font-size: 30px;
	color: #00A3FF;
	margin-left: 0;
}
.icon_holder{
	float: left;
}
.icon_holder i{
	font-size: 30px;
	color: #0092E8;
	margin-right: 15px;
	margin-top: 3px;
}
.text_holder{
	float: right;
}
.text_holder span{
	color: #8DA0BF;
}
/*end header*/

/*main_menu*/
.main_menu{
	width: 100%;
	background: white;
	padding: 5px 0px;
}
.main_menu ul{
	margin-top: 8px;
	margin-bottom: 0;
}
.main_menu ul li{
	list-style: none;
	float: left;
	padding: 10px 20px;
}
.main_menu ul li:first-child{
	padding-left: 0;
}
.main_menu a{
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
}
.search{
	float: right;
	margin-top: 4px;
}
.search input[type=search]
 {
  
    padding: 5px 20px;
    margin: 8px 0; 
    outline: 0;
    border: 1px solid #0992E5;
    border-right: 0; 
   
}
.search button {
  background: none;
   padding: 5px 10px;
   border: 0;
   outline: 0;
   margin-left: -4px;
   cursor: pointer;
   border: 1px solid #0992E5;
}
.search button i{
    font-size: 16px;
    color: #0992E5;

}
.main_content .col-md-8{
	padding-left: 0;
}
.main_content .col-md-4{

}
.feature_image{
	width: 100%;
	min-height: 636px;
	background-image: url(../image/header.jpg);
	   background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
	position: relative;
}
.feature_image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0.7;
}

.inner_content{
	width: 100%;
	padding: 30px 10px;
	
	background: #00A3FF;
	color: #fff;
	     -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
    transition: ease .5s all;
}
.inner_content:hover{
	background-color: #DDDDDB;
	border: 2px solid red;
	
	color: #333;
}
.bg1{
	background-color: #DDDDDB;
	border: 2px solid red;
	
	color: #333;
}
.bg2{
	background: #296A98;
}

.bg3{
	background: #455E9B;
}
.mt-50{
	margin-top: 50px;
}
.inner_content h2{
	margin-top: 0;
}
.inner_content p{
	line-height: 25px;
}
.feature_image .left{
	width: 70%;
	top: 250px;
	position: absolute;
	left: 0;
	background: #ddd;
	padding: 30px;
	padding-bottom: 45px;
}
.feature_image .left h1{
	color: #333;
	margin-bottom: 25px;
	font-size: 40px;
}
.feature_image .left p{
	color: #333;
	font-size: 16px;
}
.feature_image .left .button{
	margin-top: 50px;
}
.feature_image .left .button a{
	padding: 10px 20px;
	text-decoration: none;
	color: #000;
	text-transform: capitalize;
	background: #00A3EB;
	margin-right: 25px;
	border-radius: 20px;
	font-weight: bold;
}
.feature_image .left .button a:first-child{
	background-color: transparent;
	border: 2px solid #333;
	color: #333;
}
.sec-title{
	margin-bottom: 50px;
	position: relative;

}
.mt-30{
	margin-top: 30px;
}
.sec-title h1{
	color: #2A2521;
		text-align: center;
}
.border{
	
	margin-top: 20px;
}
.border::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #F3F3F0;
	
}
.border::after{
	content: '';
	position: absolute;
	width: 100px;
	height: 1px;
	left: 46%;
	background: #00A3EB;
	
}
.medical-departments-area{
	width: 100%;
	padding: 50px 0;
	
	
}
.single_item{
	max-width: 100%;
	padding: 40px 10px;
	text-align: center;
	border: 1px solid red;
	box-shadow: 0 0 3px #ccc;

}
.c_bootstrap .col-md-3{
	padding-left: 0;
}
.single_item .icon i{
	color: #00A3EB;
	font-size: 50px;
	margin-bottom: 21px;
}
.c_flaticon span:before{
	font-size: 50px;
	color: #00A3FF;
	margin-left: 0;
}
.single_item h3{
	margin-top: 0;
}
.single_item h3 a{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
	text-decoration: none;
	color: #333;

}
.single_item .text-holder{
	margin-bottom: 30px;
}
.single_item .text-holder p{
	margin-top: 15px;
}
.single_item a.readmore{
	text-transform: capitalize;
	padding: 10px 20px;
	border: 1px solid #00A3EB;
	border-radius: 20px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
.single_item img{
	width: 90px;
	
	height: 60px;
}
.service_area{
	width: 100%;
	padding: 70px 0;
	background: #FCFCF9;
	border-top: 1px solid #F0F0ED;
	border-bottom: 1px solid #F0F0ED;
}
.service_area .img_holder{
	width: 100%;
}
.service_area .img_holder img{
	width: 100%;
	overflow: hidden;
}
.service_content{
	width: 100%;
	
}
.service_title{
	position: relative;
}
.service_title h1{
	margin-top: 0;
}
.service_content .border::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #F3F3F0;
	
}
.service_content .border::after{
	content: '';
	position: absolute;
	width: 100px;
	height: 1px;
	left: 0;
	background: #00A3EB;
	
}
.service_content .text{
	margin: 50px 0px;
	color: #848484;
	font-size: 16px;
	
}
.service_content .text p{
	margin-bottom: 20px;
}
.service_content a{
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	background: #00A3EB;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
.medical_departments_area{
	width: 100%;
	padding: 50px 0px;
}
.medical_content{
	margin-bottom: 40px;
}
.medical_content h3{
	margin-top: 0;
	margin-bottom: 15px;
}
.medical_content p{
	color: #848484;
	font-size: 16px;
	line-height: 25px;

}
.team_area{
	width: 100%;
	padding: 50px 0px;
}
.single-team-member h3{
	color: #393127;
	
}
.single-team-member .img-holder{
	
	width: 100%;
	height: 260px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	
}
.single-team-member .img-holder img{
	width: 100%;
}
.single-team-member .icon{
	position: absolute;
	left: 16%;
	top: 0;
	visibility: hidden;
	
}
.single-team-member .icon ul{
	transform: rotate(-26deg);
}
.single-team-member .icon ul li{
	list-style-type: none;
	float: left;
	margin-right: 15px;
}
.single-team-member .icon ul li i{
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	background: #0092E8;
	font-size: 20px;
	color: #333;
	border: 2px solid #333;
	transform: rotate(26deg);
}
.single-team-member .icon ul li i:hover{
	color: #333;
	-webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    transition: ease .4s all;
}
.single-team-member .overlay{
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
	border-bottom: 130px solid #0092E8;
	border-left: 262px solid transparent;
}

.single-team-member:hover .overlay{
	visibility: visible;
	-webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    transition: ease .4s all;
}
.single-team-member:hover .text-holder{
	background: #0092E8;
	color: #333;
	font-weight: bold;
	border-top: 0;
	
}
.single-team-member:hover .text-holder span{
	color: #333;
}
.team_active .text-holder span{
	color: #333;
}
.single-team-member:hover .icon{
	visibility: visible;
	top: 64%;
	-webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
    transition: ease .5s all;
    z-index: 9999999999;
}
.single-team-member span{
	color: #0092E8;
}
.single-team-member .text-holder{
	padding: 20px;
	width: 100%;
	border: 1px solid #F0F0ED;
}
.single-team-member .text-holder h3{
	margin-top: 0;
}

.team_active .text-holder{
	background: #0092E8;
	color: #333;
	font-weight: bold;
	border-top: 0;
	
}
.team_active .overlay{
	visibility: visible;
	-webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    transition: ease .4s all;
}
.team_active .icon{
	visibility: visible;
	top: 64%;
	-webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
    transition: ease .5s all;
    z-index: 9999999999;
}
footer{
	width: 100%;
	padding: 50px 0px;
	background: #222222;
}
footer .text{
	margin-top: 35px;
}
.f_border{
	background: #0092E8;
	width: 80px;
	height: 1px;
	margin-bottom: 32px;
}
footer p{
	color: #848484;
	line-height: 25px;
}
footer h3{
	color: #fff;
	
}
footer .contact li{
	list-style-type: none;

}
footer .contact li p i{
	margin-right: 10px;
	color: #0092E8;
}
footer .contact li p span{
	color: #848484;
}
footer .contact li p span span{
	margin-left: 20px;
}
.footer-bottom-area{
	background: #1D1D1D;
}
.footer-bottom-area .copyright-text{
	color: #848484;
	margin-top: 15px;
}
.info a{
	text-transform: capitalize;
	color: #0092E8;
	padding: 8px 20px;
	text-decoration: none;
	border: 1px solid #0092E8;
}

.flaticon-phone:before{
	content: "\f12a";
}
.copyright-text a{
	text-decoration: none;
	color: #0092E8;
	font-weight: bold;
}